@charset "UTF-8";

#inquiry_estimation {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
}

.page_title {
	width: 1000px; height: 140px;
	padding-top: 54px;
	text-align: center;
	line-height: 2;
	color: black;
	font-weight: bolder;
	background-repeat: no-repeat;
}
.page_title h1 {
	font-size: 32px;
}
	
#estimation table{
	width: 600px;
	margin: 0 auto 20px;
	border: 1px solid navy;
	/* background-color: rgba(0,0,128,0.3); */
}
#estimation table td{
	border: 1px solid navy;
}
#estimation table .rowspan{
	
}
#estimation div .inquiry_cell {
	margin: 10px auto;
	padding: 5px;
}
/* #text_written {clear: both;} */
#files_attached p {
	font-size: 10px;
	color: Gainsboro;
}
#send_esmation_inquiry {
	margin: 0 auto 20px;
	text-align: center;
}
#send_esmation_inquiry button {
	background-color: navy;
	color: white;
	font-weight: bolder;
	width: 100px; height: 40px;
	border-radius: 3px;
}
#send_esmation_inquiry #cancel {
	background-color: Gainsboro;
}