@charset "UTF-8";

.page_title {
	width: 1000px; height: 140px;
	padding-top: 54px;
	text-align: center;
	line-height: 2;
	color: black;
	background-repeat: no-repeat;
	margin: 0 auto;
	background-color: Gainsboro; 
}
.page_title h1 {
	font-size: 32px;
}

#sign_up table {
	width: 800px;
	margin: 0 auto 20px;
	text-align: center;
	vertical-align: middle;
}
#sign_up td {
	height: 50px;
	background-color: rbga(0,0,125,0.3);
}
#sign_up td span {
	color: red;
	font-weight: bolder;
}