@charset "UTF-8";

.page_title {
	width: 1000px; height: 140px;
	padding-top: 54px;
	text-align: center;
	line-height: 2;
	color: black;
	font-weight: bolder;
	background-repeat: no-repeat;
}
.page_title h1 {
	font-size: 32px;
}

table {
	width: 600px;
	margin: 0 auto 20px;
	border: 1px solid navy;
}